[Unit]
Description=Mongo backup service
After=docker.service
After=etcd2.service
After=mongo.service

Requires=docker.service
Requires=etcd2.service
After=mongo.service

[Service]
TimeoutStartSec=0

ExecStartPre=-/usr/bin/docker kill mongo-backup
ExecStartPre=-/usr/bin/docker rm mongo-backup
ExecStartPre=/usr/bin/docker pull vmakhaev/mongo-s3-backup

# Stop
ExecStop=/usr/bin/docker stop mongo-backup

# Start
ExecStart=/usr/bin/docker run --env-file=/home/core/backup.env --link=mongo --name=mongo-backup vmakhaev/mongo-s3-backup
