[Unit]
Description=Runs postgres backup every day at 2 AM
After=postgres.service
Requires=postgres.service

[Timer]
# OnCalendar=*:0/1
OnCalendar=02:00
Persistent=true
